#SceneLiveCategory {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #ffffff;
	background-image : url('../../images/bg.jpg');
}

#SceneLiveCategory #svecKeyHelp_492N{
	position : absolute;
	left : 0px;
	top : 505px;
}

#SceneLiveCategory #svecLabel_48N9{
	position : absolute;
	font-size : 10pt;
	color : #210000;
	left : 40px;
	top : 80px;
	width : 130px;
}


#SceneLiveCategory #btnNewest{
	position : absolute;
	left : 210px;
	top : 100px;
	width : 150px;
}
#SceneLiveCategory #btnNewestText{
	position : absolute;
	left : 214px;
	top : 106px;
	width : 142px;
	color:white;
}
#SceneLiveCategory #btnMostView{
	position : absolute;
	left : 365px;
	top : 100px;
	width : 150px;
}
#SceneLiveCategory #btnMostViewText{
	position : absolute;
	left : 369px;
	top : 106px;
	width : 142px;
	color:white;
}
#SceneLiveCategory #btnFavorite{
	position : absolute;
	left : 520px;
	top : 100px;
	width : 150px;
}
#SceneLiveCategory #btnFavoriteText{
	position : absolute;
	left : 524px;
	top : 106px;
	width : 142px;
	color:white;
}
#SceneLiveCategory #btnRandom{
	position : absolute;
	left : 675px;
	top : 100px;
	width : 150px;
}
#SceneLiveCategory #btnRandomText{
	position : absolute;
	left : 679px;
	top : 104px;
	width : 142px;
	color:white;
}

#SceneLiveCategory #imgLive1{
	position : absolute;
	left : 220px;
	top : 150px;
	width : 160px;
	height : 90px;
}


#SceneLiveCategory #imgLive2{
	position : absolute;
	left : 390px;
	top : 150px;
	width : 160px;
	height : 90px;
}


#SceneLiveCategory #imgLive3{
	position : absolute;
	left : 560px;
	top : 150px;
	width : 160px;
	height : 90px;
}


#SceneLiveCategory #imgLive4{
	position : absolute;
	left : 730px;
	top : 150px;
	width : 160px;
	height : 90px;
}


#SceneLiveCategory #imgLive5{
	position : absolute;
	left : 220px;
	top : 280px;
	width : 160px;
	height : 90px;
}

#SceneLiveCategory #imgLive6{
	position : absolute;
	left : 390px;
	top : 280px;
	width : 160px;
	height : 90px;
}


#SceneLiveCategory #imgLive7{
	position : absolute;
	left : 560px;
	top : 280px;
	width : 160px;
	height : 90px;
}


#SceneLiveCategory #imgLive8{
	position : absolute;
	left : 730px;
	top : 280px;
	width : 160px;
	height : 90px;
}

#SceneLiveCategory #lblFilmNameLive1{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 220px;
	top : 244px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive2{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 390px;
	top : 244px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive3{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 560px;
	top : 244px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive4{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 730px;
	top : 244px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive5{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 220px;
	top : 374px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive6{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 390px;
	top : 374px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive7{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 560px;
	top : 374px;
	text-align:center;
	width : 160px;
}

#SceneLiveCategory #lblFilmNameLive8{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 730px;
	top : 374px;
	text-align:center;
	width : 160px;
}
/*
*/
#description{
	position : absolute;
	left : 390px;
	top : 410px;
	width : 500px;
	height : 90px;
	color:white;
	padding:5px;
}
#description_text
{
	padding:5px;
}

#SceneLiveCategory #lblVideoTitle{
	position : absolute;
	font-size : 10pt;
	color : #210000;
	left : 230px;
	top : 460px;
	width : 130px;
}

#SceneLiveCategory #lblPaging{
	position : absolute;
	font-size : 10pt;
	color : white;
	left : 860px;
	top : 135px;
	width : 70px;
}


/*
#SceneLiveCategory .left{
	width:0px;
}
#SceneLiveCategory .right{
	width:0px;
}
#SceneLiveCategory .center{
	background: url("../../images/button_bottom_active.png") no-repeat;
    height: 50px;
    width: 150px;
}
*/
/*sfList */


#SceneLiveCategory .sf-ui-list-itemarea .focused .center
{
	background: url("../../images/button_bottom.png") no-repeat;
	/*background-color:#4A4A4A;*/
    height: 50px;
    width: 150px;
	text-align:center;
}

#SceneLiveCategory .sf-ui-list-item .left{
	width:0px;
}
#SceneLiveCategory .sf-ui-list-item .right{
	width:0px;
}

#SceneLiveCategory .sf-ui-list-item .center
{
	background: url(../../images/button_bottom_active.png) no-repeat;
	/*background-color:#818181;*/
    height: 50px;
    width: 150px;
	text-align:center;
}

#SceneLiveCategory .sf-ui-list-focus .left
{
	width:0px;
}
#SceneLiveCategory .sf-ui-list-focus .right
{
	width:0px;
}

#SceneLiveCategory .sf-ui-list-focus .center
{
	background: url("../../images/button_bottom.png") no-repeat;
	height:50px;
	width:150px;
	text-align:center;
}

#SceneLiveCategory #categoryLoadingImage{
	position : absolute;
	left : 520px;
	top : 240px;
}

#SceneLiveCategory #imgDescription{
	position : absolute;
	left : 220px;
	top : 410px;
	width : 160px;
	height : 90px;
}

/*sfBUtton*/
#SceneLiveCategory .sf-ui-button-l {width:0px;}
#SceneLiveCategory .sf-ui-button-c {
	background:url(../../images/mostview.png) no-repeat;
	width:150px;
	height:30px;
}
#SceneLiveCategory .sf-ui-button-r {width:0px;}

#SceneLiveCategory .sf-ui-button-focus .sf-ui-button-l.focus {width:0px;}
#SceneLiveCategory .sf-ui-button-focus .sf-ui-button-c.focus {
	background:url(../../images/mostview_active.png) no-repeat;
	width:150px;
	height:30px;
	color:red;
}
#SceneLiveCategory .sf-ui-button-focus .sf-ui-button-r.focus {width:0px;} 
/*End sfButton*/


#SceneLiveCategory .imgBlur{
	opacity:0.8;
	/*
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	*/
}
#SceneLiveCategory .imgFocus{
	opacity:1.0;
	border:2px solid yellow;
	
	/*
	-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 255, 1);
-moz-box-shadow:    0px 0px 30px rgba(0, 0, 255, 1);
box-shadow:         0px 0px 30px rgba(0, 0, 255, 1);	
*/
/*
background: -webkit-box-shadow: 0px 1px 28px rgba(255, 255, 255, 1);
	-moz-box-shadow:    0px 1px 28px rgba(255, 255, 255, 1);
	box-shadow:         0px 1px 28px rgba(255, 255, 255, 1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	*/
}
#SceneLiveCategory .centerBackground{
	position:absolute;
	top:130px;
	left:210px;
	width:700px;
	background:url(../../images/bg_film_full.png) no-repeat;
	height:270px;
}


#SceneLiveCategory #listLiveCategory{
	position : absolute;
	left : 48px;
	top : 130px;
	width : 150px;
}

#SceneLiveCategory #listCategoryMusic{
	position : absolute;
	left : 48px;
	top : 130px;
	width : 150px;
}
#SceneLiveCategory #listCategoryClip{
	position : absolute;
	left : 48px;
	top : 130px;
	width : 150px;
}
#SceneLiveCategory #listCategoryTV{
	position : absolute;
	left : 48px;
	top : 130px;
	width : 150px;
}

#SceneLiveCategory #imgUp{
	position : absolute;
	left : 48px;
	top : 100px;
	width : 150px;
	height : 30px;
}

#SceneLiveCategory #imgDown{
	position : absolute;
	left : 48px;
	top : 480px;
	width : 150px;
	height : 30px;
}

#SceneLiveCategory .bottom{
	position:absolute;
	left:210px;
	top:406px;
	width:700px;
	height:98px;
	background:url(../../images/bg_film_full.png) no-repeat;
}
